<%- include('header'); -%>
<div class="contacts">
  <h1 id="welcome">Contact</h1>
  <div>Name</div>
  <div>Address</div>
  <div>Phone Number</div>
  <div>Email</div>
</div>
<%- include('footer'); -%>