<%- include('header'); -%>
<div class="login">
  <form>
    <label>Username:</label><br>
    <input type="text"><br>
    <label>Password:</label><br>
    <input type="text"><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
<%- include('footer'); -%>