<%- include('header'); -%>
<div class="register">
  <form method = "POST" action="/api/register">
    <label>Username:</label><br>
    <input type="text" name="username" /><br>

    <label>Password:</label><br>
    <input type="text" name="password" /><br><br>

    <label>Contact:</label><br>
    <input type="text" name="contact" /><br><br>

    <label>Address:</label><br>
    <input type="text" name="addres" /><br><br>

    <label>Zipcode:</label><br>
    <input type="text" name="zipcode" /><br><br>

    <label>City:</label><br>
    <input type="text" name="city" /><br><br>

    <label>Phone Number:</label><br>
    <input type="text" name="phone" /><br><br>

    <label>Fax Number:</label><br>
    <input type="text" name="fax" /><br><br>

    <label>Max Outstanding:</label><br>
    <input type="text" name="max_outstanding" /><br><br>

    <input type="submit" />
  </form>
</div>
<%- include('footer'); -%>